@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<head>
    <link href="~/css/styleLogout.css" rel="stylesheet" />
</head>

<section>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="my-4" id="heart-container"></div>
        <h2 class="my-4 pixel-text">Logout Successful</h2>
        <p class="my-4 pixel-text">Thank you for visiting. We look forward to seeing you again!</p>
    </div>
</section>


<script src="~/js/scriptLogout.js"></script>